<<<<<<< HEAD
<ul class="nav navbar-nav navbar-right">
=======
@*<ul class="nav navbar-nav navbar-right">
>>>>>>> b0a6b5dd3505d9d805beb5b88daf24cab4805a2f
    <li>
        <div>
            { @Html.DropDownList("CustomerId") }
        </div>
        <a asp-area="" asp-controller="Customer" asp-action="Create">
          @Model.ChosenCustomer.FirstName @Model.ChosenCustomer.LastName
        </a>
    </li>
<<<<<<< HEAD
</ul>
=======
</ul>*@
>>>>>>> b0a6b5dd3505d9d805beb5b88daf24cab4805a2f
