@model Bangazon.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Your Cart";
}

    <h2>@ViewData["Title"]</h2>

    <!-- test div -->
    <div>active user = @Model.ChosenCustomer.FirstName @Model.ChosenCustomer.LastName </div>
    
    <!--end test -->
    <div class="col-md-3"><a asp-action="Confirm">Complete Order</a></div>
   


