@model IEnumerable<Bangazon.Models.Order>

@{
    ViewData["Title"] = "Your Cart";
}

    <h2>@ViewData["Title"]</h2>
@foreach (var lineitem in Model)
    {


    <div class="row">
        <h3>@Html.DisplayFor(modelItem => lineitem.LineItems.Product.Title)</h3>
        <div class="col-md-3">@Html.DisplayFor(modelItem => lineitem.LineItems.Product.Description)</div>
        <div class="col-md-3">@Html.DisplayFor(modelItem => lineitem.LineItems.Product.Price)</div>
    </div>
    }

    <div class="col-md-3"><a asp-action="Confirm">Complete Order</a></div>
   


