@model IEnumerable<Bangazon.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h2>@ViewData["Title"]</h2>

@foreach (var product in Model)
{
    <div class="row">
        <div class="col-md-2">@Html.DisplayFor(modelItem => product.Price)</div>
        <div class="col-md-2">
        <div class="col-md-6">@Html.DisplayFor(modelItem => product.Description)</div>            
            <a asp-action="Detail" asp-route-id="@product.ProductId">Details</a>
        </div>
    </div>
}