@model IEnumerable<Bangazon.Models.Product>
@using Bangazon.Models;

@{
    ViewData["Title"] = "Products";
}

<h2>@ViewData["Title"]</h2>
<hr />
@foreach (Product item in Model)
{ 
        <div class="row productRow">
            <div class="col-md-2"><a asp-action="Detail" asp-route-id="@item.ProductId">@Html.DisplayFor(modelItem => item.Title)</a></div>
            <div class="col-md-4 priceCol">$@Html.DisplayFor(modelItem => item.Price)</div>
            <div class="col-md-3">@Html.DisplayFor(modelItem => item.Description)</div>
        </div>

 
}