@model Bangazon.ViewModels.ProductTypesViewModel

@{
    ViewData["Title"] = "Categories";
}
    <h2>@ViewData["Title"]</h2>

    @foreach (var type in Model.ProductTypes)
    {
        <div class="row typesList">
            <div class="col-md-12"><a asp-controller="Products" asp-action="Types" asp-route-id="@type.ProductTypeId">@Html.DisplayFor(modelItem => type.Label)</a></div>
        </div>
    }