@model Bangazon.ViewModels.ProductTypesViewModel


@*
@{
    ViewData["Title"] = "Product Type Listing";
}
    <h2>@ViewData["Title"]</h2>
    *@

    @foreach (var type in Model.ProductTypes)
    {
        <div class="col-md-6"><a asp-controller="Products" asp-action="Types" asp-route-id="@type.ProductTypeId">@Html.DisplayFor(modelItem => type.Label)</a></div>
    }